*{
    font-family: 'Work Sans', sans-serif;
}
.miNavbar{
    background-color: #033249 ;
    color: #EFEDE8;
    position: sticky;
    height: 70px;
    #navbarLink{
        color: #EFEDE8;
        img{
           height: 120px;
            width: auto;
            padding-top: 10px;

        }

    }
}
.myBtn{
       color: #EFEDE8;
}
.myBtn:hover{
    background-color: #075277 ;
    color: #EFEDE8;
}
.myLink:hover{
    background-color: #075277 ;
    color: #EFEDE8;
    border-radius: 7px;
}
