*{
    font-family: 'Work Sans', sans-serif;
    
}
.miNavbar{
    background-color: #033249 ;
    color: #EFEDE8;
    border-bottom: gray 1px solid;

    #navbarLink{
        color: #EFEDE8;
        img{
           height: 80px;
            width: auto;
           object-fit: cover;
           margin: -20px -20px -30px -30px;

        }

    }
}
.myBtn{
       color: #EFEDE8;
}
.myBtn:hover{
    background-color: #075277 ;
    color: #EFEDE8;
}
.myLink:hover{
    background-color: #075277 ;
    color: #EFEDE8;
    border-radius: 7px;
}
#recomendados{
    color: #EFEDE8;
}
body{background-color: #033249 ;
text-align: center;}
main .h3{
    font-style: italic;
}